<%- include('navbar/navbar-before-login') %>

<!-- Conteúdo da página de recuperação de senha -->
<div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div>
        <!-- forgot-password.ejs -->
        <h1>Esqueceu a senha?</h1>
        <% if (messages.error) { %>
            <div class="alert alert-danger">
                <%= messages.error %>
            </div>
        <% } %>
        <% if (messages.success) { %>
            <div class="alert alert-success">
                <%= messages.success %>
            </div>
        <% } %>

        <form action="/forgot-password" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>

